.input-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: var(--light-grey);
}

.input-large {
    width: 50em;
    height: 3.125em;
}

.input-textarea {
    height: 4.375em;
}

.input-medium {
    width: 29.375em;
    height: 3.125em;
}

.icon-container {
    margin-right: 0.9375em;
    margin-left: 1.25em;
}

.input-container:focus-within {
    border: solid 1px var(--blue);
}

.input-container > input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.input-container > input:focus {
    background-color: transparent;
    outline: none
}