:root {
    --default-dark: #494949;
    --blue: #489df0;

    --light-grey: #f6f9fd;
    --light-grey2: #b6cfe9;
    --light-grey3: #f8fafe;;
    --hover-grey: #eef6fe;

    --green: #4ac45d;
    --dull-gren: #a3e1ad;

    --yellow: #efc068;
    --dull-yellow: #f6dfb2;

    --pink: #f87b98;
    --dull-pink: #c96780;
}